body{
	font-family:roboto,sans-serif;
	color:#545e6c;
	background:#ffffcc;
	font-size:14px;
	padding:30px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
	}
h1,h2,h3,h4,h5,h6{
	font-weight:700
	}
a{
	color:#2d7788
	}
a:hover{
	text-decoration:underline;
	color:#1a454f
	}
a:focus{
	text-decoration:none
	}
p{
	color:rgba(240,250,247);
	line-height:1.5
	}
.wrapper{
	background:#42a8c0;
	max-width:1000px;
	margin:0 auto;
	position:relative;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.1);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.1);
	box-shadow:0 2px 4px rgba(0,0,0,.1)
	}
.sidebar-wrapper{
	background:rgba(240,201,0);
	position:absolute;
	right:0;
	width:280px;
	height:100%;
	min-height:900px;
	color:#fff
	}
.sidebar-wrapper a{
	color:#fff
	}
.sidebar-wrapper .profile-container{
	padding:30px;
	background: rgba(0,0,0,.1);
	text-align:center;
	color:#fff
	}

.sidebar-wrapper .tagline{
	color:rgba(31,62,103);
	font-size:20px;
	font-weight:400;
	margin-top:0;
	margin-bottom:0
	}
.sidebar-wrapper .profile{
	margin-bottom:15px
	}
.sidebar-wrapper .avatar{
	max-width:200px;
	margin-bottom:15px;
	border:0 solid #fff;
	border-radius:100%;
	box-shadow:0 1px 1px rgba(0,0,0,.1)
	}
.sidebar-wrapper .contact-list .fas,.sidebar-wrapper .contact-list .fab{
	margin-right:5px;
	font-size:18px;
	vertical-align:middle
	}
.sidebar-wrapper .contact-list li{
	margin-bottom:15px
	}
.sidebar-wrapper .contact-list li:{
	margin-bottom:0
	}
.sidebar-wrapper .container-block{
	padding:30px
	}
.sidebar-wrapper .container-block-title{
	text-transform:uppercase;
	font-size:16px;
	font-weight:700;
	margin-top:0;
	margin-bottom:15px
	}
.sidebar-wrapper .degree{
	font-size:14px;
	margin-top:0;
	margin-bottom:5px
	}
.sidebar-wrapper .education-container .item{
	margin-bottom:15px;
	color:rgba(31,62,103);
	}
.sidebar-wrapper .education-container .item{
	margin-bottom:0
	}
.sidebar-wrapper .education-container .meta{
	color:rgba(255,255,255,.6);
	font-weight:500;
	margin-bottom:0;
	margin-top:0
	}
.sidebar-wrapper .education-container .Contact{
	font-family Franklin Gothic Demi Cond;
	color:rgba(31,62,103);
	font-size:30px
}
.sidebar-wrapper .education-container .time{
	color:rgba(255,255,255,.6);
	font-weight:500;
	margin-bottom:0
	}
	
.sidebar-wrapper .NIM-container .lang-desc{
	color:rgba(255,255,255,.6)
	}
.sidebar-wrapper .NIM-container .NIM{
	font-family Franklin Gothic Demi Cond;
	color:rgba(31,62,103);
	font-size:30px
	}
.sidebar-wrapper .NIM-container .item{
	margin-bottom:15px;
	color:rgba(31,62,103);
	}
.sidebar-wrapper .NIM-list{
	margin-bottom:0
	}
.sidebar-wrapper .NIM-list li{
	margin-bottom:10px
	}
.sidebar-wrapper .NIM-list li{
	margin-bottom:0
	}
.sidebar-wrapper .Hobbies-container .Hobbies{
	font-family Franklin Gothic Demi Cond;
	color:rgba(31,62,103);
	font-size:30px
	}
.sidebar-wrapper .Hobbies-container .item{
	margin-bottom:15px;
	color:rgba(31,62,103);
	}
.main-wrapper{
	background:rgba(31,62,103);
	padding:60px;
	padding-right:340px
	height:100%;
	min-height:800px;
	}
.main-wrapper .section-title{
	text-transform:uppercase;
	font-size:20px;
	font-weight:500;
	color:yellow;
	position:relative;
	margin-top:0;
	margin-bottom:20px	
	}
.main-wrapper .educations {
	font-family Franklin Gothic Demi Cond;
	font-size:35px;
	color:rgba(240,250,247);
	margin-bottom:60px
	}
.main-wrapper .name{
	font-family: Agency FB;
	font-size:45px;
	font-weight bold;	
	margin-top:0;
	margin-bottom:10px;
	color:rgba(240,250,247)
}
.footer{
	padding-top:30px	
	}
.footer .copyright{
	line-height:1.6;
	color:#545e6c;
	font-size:13px;
	
	}
.text-center{
	text-align:center;
	margin:auto
	}